/* 主色调 */
/* 主背景色 */
.bg-main {
	background-color: rgba(92, 204, 132);
}

.bg-main-hover {
	background-color: #4bc175;
}

.bg-main-disable {
	background-color: #7be09f;
}

/* 主文字色 */
.text-main {
	color: rgb(92, 204, 132);
}

/* 分割线的样式*/
.divider {
	height: 15px;
	background-color: #f5f5f3;
}